.Books{
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #DDD;
  padding: 5px;
}

.BooksDetails,
.List{
  padding: 20px 0;
  flex: 1;
}

.BooksDetails h2,
.List h2{
  margin-bottom: 20px;
}

.List{
  border-inline-end: 1px solid #DDD;
}

.List .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.List .info h3{
  font-size: 20px;
  font-weight: bold;
  color: #777;
}
.List .info button:first-of-type{
  margin-right: 2px;
}

.BooksDetails{
  padding-left: 10px;
}

.BooksDetails .Details{
  margin-bottom: 20px;
}
.BooksDetails .Details p{
  background: #DDD;
  padding: 10px;
  border-radius: 3px;
}